*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: lightgray;
}

/* header */
header{
    margin: auto;
    text-align: center;
    margin-top: 50px;
    width: 50%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    margin-bottom: 20px;
}
#team-tab{
    display: flex;
    margin: auto;
    width: 600px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.cont-member{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin: 20px;
    width: calc(100%/3 - 40px);
    background-color: white;
    padding-bottom: 15px;
}

img{
    margin-bottom: 5px;
}

.name-user{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(57, 57, 57);
    font-size: 14px;
}

.role-user{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  rgb(57, 57, 57);   
    font-size: 13px;
}

